.Header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 2rem;
    padding-right: 14rem;
    padding-left: 14rem;
    padding-bottom: 1rem;
}

.Header__siteTitle {
    
}