.Header {
    z-index: 2;
    background-color: rgba(189, 195, 199, 1);
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 2rem;
    padding-right: 14rem;
    padding-left: 14rem;
    padding-bottom: 1rem;
}

.Header__siteTitle {
    
}