.Bio {
    background-color: rgba(46, 49, 49, .4);
    padding-top: 2rem;
    padding-bottom: 3rem;
    padding-left: 30rem;
    display: flex;
}

.Bio__text {
    font-size: x-large;
    padding-left: 9rem;
    width: 35rem;
    padding-top: 2rem;
}

.Bio__image {
}