.Bio {
    background-color: rgba(102, 178, 255, 0.2);
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 30rem;
    display: flex;
}

.Bio__text {
    padding-left: 9rem;
    width: 35rem;
    padding-top: 7%;
}